<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div class="header">
  <h1>Self Improvement Journal</h1>
  <div class="header-right">
    <div class="cell" id="rh">random highlights</div>
    <div class="cell" id="mh">monthly highlights</div>
    <div class="cell" id="en">view entry</div>
    <div class="cell" id="ae">add entry</div>
  </div>
</div>

<div id="maincontent">
  <div id="subcontent">
    
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="styles/entrymechanics.js"></script>

</body>
</html>